<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit()" #shoppingform="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" name="name" ngModel required #name="ngModel">
                    <p style="color: red;" *ngIf="!name.valid && name.touched">Name can't be empty</p>
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" class="form-control" name="amount" ngModel required #amount="ngModel" pattern="^[1-9]+[0-9]*$">
                    <p style="color: red;" *ngIf="!amount.valid && amount.touched">Amount is invalid</p>
                </div>
                <div class="col-xs-12">
                    <button class="btn btn-success mt-3 mx-1" type="submit" [disabled]="!shoppingform.valid">{{ editindex==-1?"Add":"Save Changes" }}</button>
                    <button class="btn btn-danger mt-3 mx-1" type="button" (click)="onDelete()" *ngIf="editindex!=-1">Delete</button>
                    <button class="btn btn-primary mt-3 mx-1" type="button" (click)="onReset()">{{ editindex==-1?"Reset Field":"Cancel Edit" }}</button>
                </div>
            </div>
        </form>
    </div>
</div>
